.lato{
	font-family: 'Lato',sans-serif;
}
.jplist-panel .jplist-group{
	background: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	box-shadow: 0 0 1px #fff;
	box-sizing: border-box;
	color: #27252a;
	float: left;
	height: 30px;
	height: auto;
	margin: 10px 10px 0 0;
	moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	o-box-sizing: border-box;
	padding: 0 0 0 5px;
	text-shadow: 1px 1px 1px #fff;
	webkit-box-sizing: border-box;
}
.jplist-panel .jplist-group input,.jplist-panel .jplist-group label{
	height: 28px;
	line-height: 30px;
}
.jplist-panel .jplist-group ul{
	line-height: 28px;
	list-style: none;
	margin: 0 0 0 10px;
	padding: 0;
}
.jplist-panel .jplist-group ul li{
	float: left;
	height: 28px;
	line-height: 30px;
	margin-right: 15px;
	overflow: hidden;
}
.radio-filters{
	float: left;
	margin: 5px 15px 0 0;
}
.radio-filters input{
	vertical-align: baseline;
}
.radio-filters label{
	margin-right: 10px;
}
.radio{
	float: left;
}
[data-control-type="range-filter"]{
	cursor: pointer;
}
